# === Waitomo Training ESLint Ignore ===

# Node & build
node_modules/
babel.config.js
metro.config.js
app.json
package-lock.json
yarn.lock

# Compilados y temporales
.expo/
.expo-shared/
dist/
build/
coverage/
.tmp/
.cache/

# Imágenes, assets y multimedia
assets/
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.webp
*.ico

# Configuraciones externas o locales
.env
.env.local
.env.production
.env.development
firebase.json
google-services.json
app.config.js

# Archivos que no deben ser analizados por ESLint
*.log
*.md
*.pdf
